body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-image: url("/images/loveheart-crochet.jpg");
  width: 100% auto;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  padding: 50px 0px;
  text-shadow: 1px 1px 2px black;
}

header h1 {
  font-size: 55px;
  line-height: 1.5;
}

header h2 {
  line-height: 1.5;
}

header h3 {
  line-height: 1.5;
}

header a {
  line-height: 4;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px;
  background: burlywood;
  border-radius: 8px;
}

header a:hover {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: goldenrod;
  background: whitesmoke;
}

header a:visited {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: blanchedalmond;
}

main {
  background-color: bisque;
}

section {
  padding: 50px;
}

main h3 {
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
  line-height: 1.5;
  color: black;
  opacity: 0.3;
  text-transform: uppercase;
}

main p,
ul,
li {
  line-height: 1.5;
  opacity: 0.9;
}

footer {
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/crochet-soft-blanket.jpg");
  padding: 20px;
  font-size: smaller;
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  color: whitesmoke;
}

footer ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.image1 {
  display: block;
  width: 350px;
  margin: 0 auto;
  padding: 0;
}

.grid {
  display: grid;
  margin: 0 auto;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
  grid-template-columns: 2fr 2fr 2fr;
}

@media (max-width: 900px) {
  header {
    padding: 20px;
    height: 190px;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 13px;
  }

  header a {
  }

  section,
  footer {
    padding: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
