body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-image: url("/images/loveheart-crochet.jpg");
  width: 100% auto;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  padding: 50px 0px;
  text-shadow: 1px 1px 2px black;
}

header h1 {
  font-size: 55px;
  line-height: 1.5;
}

header h2 {
  line-height: 1.5;
}

header h3 {
  line-height: 1.5;
}

header a {
  line-height: 4;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px;
  background: burlywood;
  border-radius: 8px;
}

header a:hover {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: goldenrod;
  background: whitesmoke;
}

header a:visited {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: blanchedalmond;
}

main {
  background-color: bisque;
}

section {
  padding: 50px;
}

main h3 {
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
  line-height: 1.5;
  color: black;
  opacity: 0.3;
  text-transform: uppercase;
  text-align: center;
}

main p,
ul,
li {
  line-height: 1.5;
  opacity: 0.9;
}

footer {
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/crochet-soft-blanket.jpg");
  padding: 20px;
  font-size: smaller;
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  color: whitesmoke;
}

footer ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.image1 {
  display: block;
  width: 350px;
  margin: 0 auto;
  padding: 0;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
  margin-right: 100px;
}

.section-secondary {
  background: whitesmoke;
  margin: 0 auto;
}

.section-secondary h3,
h2 {
  text-align: center;
  line-height: 0.8;
}

.grid.secondary-gallery {
  grid-template-columns: 2fr 2fr 2fr;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.card,
.card-2 {
  background-color: white;
  height: 600px;
  padding: 10px 30px;
}

.card-text {
  margin: 0 auto;
  padding: 20px;
}

.card h4,
.card-2 h4 {
  text-align: center;
  line-height: 0.8;
  color: black;
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card-header.grid {
  grid-gap: 0;
  padding: 10px;
}

img {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.img-responsive {
  display: block;
  width: 100%;
}

.embed {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card-2 img {
  text-align: center;
  margin: 0 auto;
  display: block;
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.img-fluid {
  text-align: center;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  max-height: 100%;
}

.button {
  display: block;
  background-color: burlywood;
  padding: 10px 90px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 30px;
  color: whitesmoke;
}

.grid-3-cols {
  grid-template-columns: 2fr 2fr 2fr;
}

.section-third {
  height: 500px;
  margin: 20px auto;
}

.grid-3-cols.photo-gallery {
 grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 5px;
  padding-bottom: 30px;

}

.gallery-card {
  text-align: center;
  display: block;
  height: 400px
  object-fit: cover;
  aspect-ratio: 1 / 1;
  
}

.gallery-card.embed{
display: block;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 30px;
}

@media (max-width: 1000px) {
  header {
    padding: 20px;
    height: 190px;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 13px;
  }

  header a {
  }

  section,
  footer {
    padding: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .grid-2-cols {
    margin: 30px;
  }

  .image1 {
    width: 100%;
  }

  div.grid.secondary-gallery {
    grid-template-columns: 1fr;
    width: 100% auto;
    padding: 5px;
    margin: 0 auto;
  }

  img {
    aspect-ratio: 21/9;
  }

  .embed {
    aspect-ratio: 21 / 9;
  }

  .card,
  .card-2 {
    height: fit-content;
    padding: 10px 5px 50px 5px;
  }

  .card-2 img {
    aspect-ratio: 16/9;
  }

.section-third {
 height: fit-content;
}
  .grid-3-cols.photo-gallery {
 grid-template-columns: 2fr ;
  grid-gap: 5px;
  padding: 3px;
}

.gallery-card {
  height: fit-content;
  aspect-ratio: 16 / 9;
}

.gallery-card.embed{
  aspect-ratio: 16 / 9;
}

}
